@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: 
    url('fonts/roboto-variablefont.woff') format('woff'),
    url('fonts/roboto-variablefont.woff2') format('woff2');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  font-family: 'Roboto';
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

header .wrapper {
  display: flex;
  width: min(100%, 1000px);
  align-items: center;
}

header button {
  margin: 10px;
  margin-left: auto;
  padding: 5px 10px;
  height: min-content;
}

body > .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: min(100%, 1000px);
  height: 100%;
}

.card {
  padding: 10px;

  border: 1px solid black;
}

.card .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .cover {
  height: 30vh;
  box-shadow: 0px 0px 10px gray;
}

.card h2 {
  padding: 10px;
}

.card p {
  margin-top: 10px;
}