@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: 
  url('fonts/roboto-variablefont.woff') format('woff'),
  url('fonts/roboto-variablefont.woff2') format('woff2');
}

/* 
  General
  ========
*/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  min-height: 100vh;
  
  font-family: 'Roboto';
  background-color: #ededed;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

header .wrapper {
  display: flex;
  width: min(100%, 1000px);
  align-items: center;
}

header button {
  margin: 10px;
  margin-left: auto;
  padding: 5px 10px;
  height: min-content;
}

/* 
  Bookshelf
  ==========
*/
body .shelf {
  width: min(100%, 1000px);
}

.shelf .container {
  height: 100%;
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow: scroll;
}

.card {
  box-shadow: 0px 0px 5px gray;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 20px;
}

.card > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .cover {
  height: 30vh;
  box-shadow: 0px 0px 10px gray;
}

.container .wrapper:last-of-type {
  position: relative;
}

.container .coverUpdateIcon {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.container .wrapper:last-of-type:hover {
  cursor: pointer;
}

.container .wrapper:last-of-type:hover .coverUpdateIcon {
  display: block;
  background: #00000065;
  height: calc(100% + 1px);
}

.card h2 {
  padding: 10px;
}

.card p {
  margin: 10px;
}

.deleteBtn {
  position: absolute;
  left: 10px;
  padding: 5px;

  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

/* 
  Form
  =====
*/
.form-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: #5c5c5c9c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  height: min-content;
  width: min-content;

  background-color: #fff;
  border-radius: 10px;
}

form p {
  font-size: 0.8em;
  color: gray;
}

form .wrapper {
  display: flex;
}

form label {
  position: relative;
  min-width: 100px;
}

form .required::before {
  position: absolute;
  left: -10px;
  content: '*';
}


/* 
  Javascript classes 
  ===================
*/
.show-form {
  display: flex;
}

.hide-overflow {
  overflow: hidden;
}

.read {
  background-color: gold;
}