@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: 
  url('fonts/roboto-variablefont.woff') format('woff'),
  url('fonts/roboto-variablefont.woff2') format('woff2');
}

/* 
  General
  ========
*/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  min-height: 100vh;
  
  font-family: 'Roboto';
  background-color: #ededed;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

header .wrapper {
  display: flex;
  width: min(100%, 1000px);
  align-items: center;
}

header button {
  margin: 10px;
  margin-left: auto;
  padding: 5px 10px;
  height: min-content;

  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
  transition-duration: 0.2s;
}

header button:hover {
  box-shadow: 0px 0px 15px greenyellow;
}

header button:active {
  transform: scale(0.9);
}

/* 
  Bookshelf
  ==========
*/

:root {
  --card-primary-gray: #d4d4d4;
}

body .shelf {
  width: min(100%, 1000px);
}

.shelf .container {
  height: 100%;
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  box-shadow: 0px 0px 5px gray;
  background-color: var(--card-primary-gray);
  border: 1px solid #aba9a9;
  border-radius: 20px;
}

.card > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
}

.card h2, 
.card p,  
.card label {
  text-shadow: 0px 0px 3px gray;
}

.card p:first-of-type {
  font-size: 1.1em;
  font-style: italic;
}

.card .container .cover {
  height: 30vh;
  
  box-shadow: 0px 0px 10px gray;
}

.card .container .wrapper:last-of-type {
  position: relative;
}

.card .container .coverUpdateIcon {
  height: calc(100% + 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-duration: 0.2s;
}

.card .container .wrapper:first-of-type {
  display: flex;
  width: 100%;
}

.card .container .wrapper:last-of-type:hover {
  cursor: pointer;
}

.card .container .wrapper:last-of-type:hover .coverUpdateIcon {
  opacity: 1;
  background: #00000065;
}

.card .container .wrapper:first-of-type label,
.card .container .wrapper:first-of-type input {
  margin-right: 10px
}

.deleteBtn {
  margin-right: auto;
  padding: 2px 5px;

  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition-duration: 0.1s;
}

.deleteBtn:hover {
  background-color: darkred;
}

.card input[type="checkbox"] {
  width: 1em;
  accent-color: blueviolet;
}

/* 
  Form
  =====
*/
.form-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: #5c5c5c9c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  height: min-content;
  width: min-content;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px gray;
  font-size: 1em;
}

form p {
  font-size: 0.8em;
  color: gray;
}

form .wrapper {
  display: flex;
  gap: 10px;
  text-shadow: 0px 0px 2px gray;
}

form label {
  position: relative;
  min-width: 100px;
  display: flex;
  align-items: center;

  font-weight: 500;
}

form .required::before {
  content: '*';
  position: absolute;
  left: -10px;
}

form input[type="text"],
form input[type="number"] {
  padding: 4px;

  background-color: var(--card-primary-gray);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px gray;
}

.btnWrapper {
  display: flex;
  justify-content: space-evenly;
}

.formBtn {
  width: 100px;
  padding: 5px;

  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
}

.cancelBtn {
  background-color: red;
  color: white;
}

/* 
  Footer
  =======
*/
footer {
  width: 100%;
  margin-top: auto;
  padding: 10px;
  text-align: center;
}

/* 
  Javascript classes 
  ===================
*/
.show-form {
  display: flex;
  opacity: 1;
}

.hide-overflow {
  overflow: hidden;
}

.read {
  border: 2px solid blueviolet;
}
